.Nav{
    text-align: center;
    text-decoration: none; 
     background-color: black;
     
}

.link{
    color: white;
    padding: 20px;
    font-size: 28px;
    text-decoration: none;
    line-height: 40 px;
    
}